{% extends 'base.twig' %}

{% block title %}{{ formTitle }}{% endblock %}
{% block content %}
    <section class="section">
               <div class="container">
                    <div class="columns is-centered">
                        <div class="column box is-two-thirds">
                            <h1 class="title ">{{ formTitle }}</h1>

                            <form action="{{ formAction }}" enctype="multipart/form-data" method="{{ formMethod }}" accept-charset="utf-8">
                                <div class="field">
                                    <label class="label">Old Password</label>
                                    <p class="control has-icons-left">
                                        <input class="input {% if not is_login and formErrors.password %}{{ "is-danger" }}{% endif %}" type="password" name="old_password" placeholder="Password"
                                               value="{% if formData.password %}{{ formData.password }}{% endif %}">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </p>
                                    {% if not is_login and formErrors.password %}
                                        <p class="help is-danger">{{ formErrors.old_password }}</p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <label class="label">New Password</label>
                                    <p class="control has-icons-left">
                                        <input class="input {% if not is_login and formErrors.password %}{{ "is-danger" }}{% endif %}" type="password" name="password" placeholder="Password"
                                               value="{% if formData.password %}{{ formData.password }}{% endif %}">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </p>
                                    {% if not is_login and formErrors.password %}
                                        <p class="help is-danger">{{ formErrors.password }}</p>
                                    {% endif %}
                                </div>

                                <div class="field">
                                    <label class="label">Repeat password</label>
                                    <p class="control has-icons-left">
                                        <input class="input {% if formErrors.password_repeat %}{{ "is-danger" }}{% endif %}" type="password" name="password_repeat" placeholder="Same password"
                                               value="{% if formData.password_repeat %}{{ formData.password_repeat }}{% endif %}">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </p>
                                    {% if formErrors.password_repeat %}
                                        <p class="help is-danger">{{ formErrors.password_repeat }}</p>
                                    {% endif %}
                                </div>

                                {% if formErrors.success %}
                                    <div class="field">
                                        <p class="has-text-success">{{ formErrors.success }}</p>
                                    </div>
                                {% endif %}

                                <div class="field">
                                    <div class="buttons">
                                    <a class="control button is-danger mt-3 " href="{{ full_url_for('profile') }}">
                                        <strong>Cancel</strong>
                                    </a>
                                    <p class="control">
                                        <input type="submit" class="button is-success mt-3" value="{{ submitValue }}">
                                    </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </section>
{% endblock %}
